* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: #030000;
  color: #A4A8AB;
}

#main {
  color: #7ed1a1;
}

.banner {
  width: 98vw;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.about-me-format {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  background-color: #1F2024;
  display: flex;
  align-items: center
}

.profile-photo {
  max-height: 150px;
}

.body-text {
  font-style: italic;
  margin: 15px;
}

.work-format {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  background-color: #1F2024;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.placeholder-photo {
  max-width: 125px;
  margin: 15px;
}

.contact-me-format {
  margin-bottom: 10px;
  padding: 50px;
  height: 50px;
  background-color: #1F2024;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  display: inline-block;
  padding-left: 25px;
}

.header nav {
  display: inline-block;
  float: right;
}

.header nav ul li {
  float: right;
  list-style-type: none;
  margin-right: 25px;
}

/* media queries */

/* media queries for a max-width of 980px */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

/* TODO: add media query for a max-width of 768px */
